.todo {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  &__text {
    font-size: 18px;
    flex: 1;
    margin-right: 20px;
    word-break: break-all;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #fafafa;
      height: 100%;
    }
    &--done {
      text-decoration: line-through;
    }
  }

  &__delete-btn {
    font-size: 18px;
    padding: 5px 15px;
    background-color: red;
    color: #fff;
    transition: 0.2s;
    border: 2px solid red;
    &:hover {
      background-color: #fff;
      color: red;
    }
  }
}
