.todo {
  display: flex;
  margin-bottom: 20px;

  &__text {
    font-size: 18px;
    flex: 1;
    margin-right: 20px;
    word-break: break-all;
  }

  &__delete-btn {
    font-size: 18px;
    padding: 5px 15px;
    background-color: red;
    color: #fff;
    transition: 0.2s;
    border: 2px solid red;
    &:hover {
      background-color: #fff;
      color: red;
    }
  }
}
